body {
  background-color: #333;
  margin: 0;
  padding: 0;
}

.carousel {
  width: 800px;
  height: 600px;
  border: 5px solid #4d4d4d;
}
.carousel .slide {
  position: absolute;
  border: 1px solid green;
  width: inherit;
  height: inherit;
}
.carousel .slide:nth-child(1) > div {
  background-image: url(picture/slide1.jpg);
}
.carousel .slide:nth-child(2) > div {
  background-image: url(picture/slide2.jpg);
}
.carousel .slide:nth-child(1) > div {
  box-sizing: border-box;
  width: 100px;
  height: 100px;
  border: 1px solid red;
  float: left;
}
.carousel .slide:nth-child(1) > div:nth-child(1) {
  background-position-x: 0px;
  background-position-Y: 0px;
  transform: translateX(-1600px) translateY(-1200px) rotate(0);
  animation: effect2 0.75s 1;
  animation-fill-mode: forwards;
  animation-delay: 1s;
}
.carousel .slide:nth-child(1) > div:nth-child(2) {
  background-position-x: -100px;
  background-position-Y: 0px;
  transform: translateX(-1600px) translateY(-1200px) rotate(0);
  animation: effect2 0.5s 1;
  animation-fill-mode: forwards;
  animation-delay: 0.7s;
}
.carousel .slide:nth-child(1) > div:nth-child(3) {
  background-position-x: -200px;
  background-position-Y: 0px;
  transform: translateX(-1600px) translateY(-1200px) rotate(0);
  animation: effect2 1s 1;
  animation-fill-mode: forwards;
  animation-delay: 1s;
}
.carousel .slide:nth-child(1) > div:nth-child(4) {
  background-position-x: -300px;
  background-position-Y: 0px;
  transform: translateX(-1600px) translateY(-1200px) rotate(0);
  animation: effect2 0.25s 1;
  animation-fill-mode: forwards;
  animation-delay: 0.6s;
}
.carousel .slide:nth-child(1) > div:nth-child(5) {
  background-position-x: -400px;
  background-position-Y: 0px;
  transform: translateX(-1600px) translateY(-1200px) rotate(0);
  animation: effect2 1.25s 1;
  animation-fill-mode: forwards;
  animation-delay: 0.5s;
}
.carousel .slide:nth-child(1) > div:nth-child(6) {
  background-position-x: -500px;
  background-position-Y: 0px;
  transform: translateX(-1600px) translateY(-1200px) rotate(0);
  animation: effect2 0.5s 1;
  animation-fill-mode: forwards;
  animation-delay: 0.4s;
}
.carousel .slide:nth-child(1) > div:nth-child(7) {
  background-position-x: -600px;
  background-position-Y: 0px;
  transform: translateX(-1600px) translateY(-1200px) rotate(0);
  animation: effect2 1.25s 1;
  animation-fill-mode: forwards;
  animation-delay: 0.4s;
}
.carousel .slide:nth-child(1) > div:nth-child(8) {
  background-position-x: -700px;
  background-position-Y: 0px;
  transform: translateX(-1600px) translateY(-1200px) rotate(0);
  animation: effect2 0.75s 1;
  animation-fill-mode: forwards;
  animation-delay: 0.4s;
}
.carousel .slide:nth-child(1) > div:nth-child(9) {
  background-position-x: 0px;
  background-position-Y: -100px;
  transform: translateX(-1600px) translateY(-1200px) rotate(0);
  animation: effect2 0.25s 1;
  animation-fill-mode: forwards;
  animation-delay: 0.4s;
}
.carousel .slide:nth-child(1) > div:nth-child(10) {
  background-position-x: -100px;
  background-position-Y: -100px;
  transform: translateX(-1600px) translateY(-1200px) rotate(0);
  animation: effect2 0.75s 1;
  animation-fill-mode: forwards;
  animation-delay: 0.9s;
}
.carousel .slide:nth-child(1) > div:nth-child(11) {
  background-position-x: -200px;
  background-position-Y: -100px;
  transform: translateX(-1600px) translateY(-1200px) rotate(0);
  animation: effect2 1s 1;
  animation-fill-mode: forwards;
  animation-delay: 0.8s;
}
.carousel .slide:nth-child(1) > div:nth-child(12) {
  background-position-x: -300px;
  background-position-Y: -100px;
  transform: translateX(-1600px) translateY(-1200px) rotate(0);
  animation: effect2 0.25s 1;
  animation-fill-mode: forwards;
  animation-delay: 0.8s;
}
.carousel .slide:nth-child(1) > div:nth-child(13) {
  background-position-x: -400px;
  background-position-Y: -100px;
  transform: translateX(-1600px) translateY(-1200px) rotate(0);
  animation: effect2 1s 1;
  animation-fill-mode: forwards;
  animation-delay: 0.7s;
}
.carousel .slide:nth-child(1) > div:nth-child(14) {
  background-position-x: -500px;
  background-position-Y: -100px;
  transform: translateX(-1600px) translateY(-1200px) rotate(0);
  animation: effect2 0.25s 1;
  animation-fill-mode: forwards;
  animation-delay: 0.5s;
}
.carousel .slide:nth-child(1) > div:nth-child(15) {
  background-position-x: -600px;
  background-position-Y: -100px;
  transform: translateX(-1600px) translateY(-1200px) rotate(0);
  animation: effect2 1.25s 1;
  animation-fill-mode: forwards;
  animation-delay: 0.1s;
}
.carousel .slide:nth-child(1) > div:nth-child(16) {
  background-position-x: -700px;
  background-position-Y: -100px;
  transform: translateX(-1600px) translateY(-1200px) rotate(0);
  animation: effect2 0.75s 1;
  animation-fill-mode: forwards;
  animation-delay: 0.8s;
}
.carousel .slide:nth-child(1) > div:nth-child(17) {
  background-position-x: 0px;
  background-position-Y: -200px;
  transform: translateX(-1600px) translateY(-1200px) rotate(0);
  animation: effect2 1s 1;
  animation-fill-mode: forwards;
  animation-delay: 0.9s;
}
.carousel .slide:nth-child(1) > div:nth-child(18) {
  background-position-x: -100px;
  background-position-Y: -200px;
  transform: translateX(-1600px) translateY(-1200px) rotate(0);
  animation: effect2 1s 1;
  animation-fill-mode: forwards;
  animation-delay: 0.3s;
}
.carousel .slide:nth-child(1) > div:nth-child(19) {
  background-position-x: -200px;
  background-position-Y: -200px;
  transform: translateX(-1600px) translateY(-1200px) rotate(0);
  animation: effect2 0.5s 1;
  animation-fill-mode: forwards;
  animation-delay: 0.7s;
}
.carousel .slide:nth-child(1) > div:nth-child(20) {
  background-position-x: -300px;
  background-position-Y: -200px;
  transform: translateX(-1600px) translateY(-1200px) rotate(0);
  animation: effect2 1.25s 1;
  animation-fill-mode: forwards;
  animation-delay: 0.8s;
}
.carousel .slide:nth-child(1) > div:nth-child(21) {
  background-position-x: -400px;
  background-position-Y: -200px;
  transform: translateX(-1600px) translateY(-1200px) rotate(0);
  animation: effect2 0.75s 1;
  animation-fill-mode: forwards;
  animation-delay: 0.6s;
}
.carousel .slide:nth-child(1) > div:nth-child(22) {
  background-position-x: -500px;
  background-position-Y: -200px;
  transform: translateX(-1600px) translateY(-1200px) rotate(0);
  animation: effect2 1.25s 1;
  animation-fill-mode: forwards;
  animation-delay: 0.3s;
}
.carousel .slide:nth-child(1) > div:nth-child(23) {
  background-position-x: -600px;
  background-position-Y: -200px;
  transform: translateX(-1600px) translateY(-1200px) rotate(0);
  animation: effect2 0.25s 1;
  animation-fill-mode: forwards;
  animation-delay: 0.8s;
}
.carousel .slide:nth-child(1) > div:nth-child(24) {
  background-position-x: -700px;
  background-position-Y: -200px;
  transform: translateX(-1600px) translateY(-1200px) rotate(0);
  animation: effect2 1s 1;
  animation-fill-mode: forwards;
  animation-delay: 1s;
}
.carousel .slide:nth-child(1) > div:nth-child(25) {
  background-position-x: 0px;
  background-position-Y: -300px;
  transform: translateX(-1600px) translateY(-1200px) rotate(0);
  animation: effect2 0.5s 1;
  animation-fill-mode: forwards;
  animation-delay: 0.9s;
}
.carousel .slide:nth-child(1) > div:nth-child(26) {
  background-position-x: -100px;
  background-position-Y: -300px;
  transform: translateX(-1600px) translateY(-1200px) rotate(0);
  animation: effect2 1.25s 1;
  animation-fill-mode: forwards;
  animation-delay: 0.5s;
}
.carousel .slide:nth-child(1) > div:nth-child(27) {
  background-position-x: -200px;
  background-position-Y: -300px;
  transform: translateX(-1600px) translateY(-1200px) rotate(0);
  animation: effect2 1s 1;
  animation-fill-mode: forwards;
  animation-delay: 0.3s;
}
.carousel .slide:nth-child(1) > div:nth-child(28) {
  background-position-x: -300px;
  background-position-Y: -300px;
  transform: translateX(-1600px) translateY(-1200px) rotate(0);
  animation: effect2 0.25s 1;
  animation-fill-mode: forwards;
  animation-delay: 0.4s;
}
.carousel .slide:nth-child(1) > div:nth-child(29) {
  background-position-x: -400px;
  background-position-Y: -300px;
  transform: translateX(-1600px) translateY(-1200px) rotate(0);
  animation: effect2 1.25s 1;
  animation-fill-mode: forwards;
  animation-delay: 0.5s;
}
.carousel .slide:nth-child(1) > div:nth-child(30) {
  background-position-x: -500px;
  background-position-Y: -300px;
  transform: translateX(-1600px) translateY(-1200px) rotate(0);
  animation: effect2 1.25s 1;
  animation-fill-mode: forwards;
  animation-delay: 0.5s;
}
.carousel .slide:nth-child(1) > div:nth-child(31) {
  background-position-x: -600px;
  background-position-Y: -300px;
  transform: translateX(-1600px) translateY(-1200px) rotate(0);
  animation: effect2 0.5s 1;
  animation-fill-mode: forwards;
  animation-delay: 0.9s;
}
.carousel .slide:nth-child(1) > div:nth-child(32) {
  background-position-x: -700px;
  background-position-Y: -300px;
  transform: translateX(-1600px) translateY(-1200px) rotate(0);
  animation: effect2 0.75s 1;
  animation-fill-mode: forwards;
  animation-delay: 0.5s;
}
.carousel .slide:nth-child(1) > div:nth-child(33) {
  background-position-x: 0px;
  background-position-Y: -400px;
  transform: translateX(-1600px) translateY(-1200px) rotate(0);
  animation: effect2 0.75s 1;
  animation-fill-mode: forwards;
  animation-delay: 0.9s;
}
.carousel .slide:nth-child(1) > div:nth-child(34) {
  background-position-x: -100px;
  background-position-Y: -400px;
  transform: translateX(-1600px) translateY(-1200px) rotate(0);
  animation: effect2 0.25s 1;
  animation-fill-mode: forwards;
  animation-delay: 0.9s;
}
.carousel .slide:nth-child(1) > div:nth-child(35) {
  background-position-x: -200px;
  background-position-Y: -400px;
  transform: translateX(-1600px) translateY(-1200px) rotate(0);
  animation: effect2 0.75s 1;
  animation-fill-mode: forwards;
  animation-delay: 0.1s;
}
.carousel .slide:nth-child(1) > div:nth-child(36) {
  background-position-x: -300px;
  background-position-Y: -400px;
  transform: translateX(-1600px) translateY(-1200px) rotate(0);
  animation: effect2 1s 1;
  animation-fill-mode: forwards;
  animation-delay: 0.8s;
}
.carousel .slide:nth-child(1) > div:nth-child(37) {
  background-position-x: -400px;
  background-position-Y: -400px;
  transform: translateX(-1600px) translateY(-1200px) rotate(0);
  animation: effect2 0.25s 1;
  animation-fill-mode: forwards;
  animation-delay: 0.2s;
}
.carousel .slide:nth-child(1) > div:nth-child(38) {
  background-position-x: -500px;
  background-position-Y: -400px;
  transform: translateX(-1600px) translateY(-1200px) rotate(0);
  animation: effect2 1s 1;
  animation-fill-mode: forwards;
  animation-delay: 0.1s;
}
.carousel .slide:nth-child(1) > div:nth-child(39) {
  background-position-x: -600px;
  background-position-Y: -400px;
  transform: translateX(-1600px) translateY(-1200px) rotate(0);
  animation: effect2 0.5s 1;
  animation-fill-mode: forwards;
  animation-delay: 0.6s;
}
.carousel .slide:nth-child(1) > div:nth-child(40) {
  background-position-x: -700px;
  background-position-Y: -400px;
  transform: translateX(-1600px) translateY(-1200px) rotate(0);
  animation: effect2 0.75s 1;
  animation-fill-mode: forwards;
  animation-delay: 1s;
}
.carousel .slide:nth-child(1) > div:nth-child(41) {
  background-position-x: 0px;
  background-position-Y: -500px;
  transform: translateX(-1600px) translateY(-1200px) rotate(0);
  animation: effect2 1.25s 1;
  animation-fill-mode: forwards;
  animation-delay: 0.8s;
}
.carousel .slide:nth-child(1) > div:nth-child(42) {
  background-position-x: -100px;
  background-position-Y: -500px;
  transform: translateX(-1600px) translateY(-1200px) rotate(0);
  animation: effect2 1.25s 1;
  animation-fill-mode: forwards;
  animation-delay: 0.9s;
}
.carousel .slide:nth-child(1) > div:nth-child(43) {
  background-position-x: -200px;
  background-position-Y: -500px;
  transform: translateX(-1600px) translateY(-1200px) rotate(0);
  animation: effect2 1s 1;
  animation-fill-mode: forwards;
  animation-delay: 1s;
}
.carousel .slide:nth-child(1) > div:nth-child(44) {
  background-position-x: -300px;
  background-position-Y: -500px;
  transform: translateX(-1600px) translateY(-1200px) rotate(0);
  animation: effect2 1s 1;
  animation-fill-mode: forwards;
  animation-delay: 0.2s;
}
.carousel .slide:nth-child(1) > div:nth-child(45) {
  background-position-x: -400px;
  background-position-Y: -500px;
  transform: translateX(-1600px) translateY(-1200px) rotate(0);
  animation: effect2 0.5s 1;
  animation-fill-mode: forwards;
  animation-delay: 0.6s;
}
.carousel .slide:nth-child(1) > div:nth-child(46) {
  background-position-x: -500px;
  background-position-Y: -500px;
  transform: translateX(-1600px) translateY(-1200px) rotate(0);
  animation: effect2 1s 1;
  animation-fill-mode: forwards;
  animation-delay: 0.6s;
}
.carousel .slide:nth-child(1) > div:nth-child(47) {
  background-position-x: -600px;
  background-position-Y: -500px;
  transform: translateX(-1600px) translateY(-1200px) rotate(0);
  animation: effect2 1s 1;
  animation-fill-mode: forwards;
  animation-delay: 0.9s;
}
.carousel .slide:nth-child(1) > div:nth-child(48) {
  background-position-x: -700px;
  background-position-Y: -500px;
  transform: translateX(-1600px) translateY(-1200px) rotate(0);
  animation: effect2 0.75s 1;
  animation-fill-mode: forwards;
  animation-delay: 0.6s;
}
.carousel .slide:nth-child(2) > div {
  box-sizing: border-box;
  width: 100px;
  height: 100px;
  border: 1px solid red;
  float: left;
}
.carousel .slide:nth-child(2) > div:nth-child(1) {
  background-position-x: 0px;
  background-position-Y: 0px;
  transform: translateX(-1600px) translateY(-1200px) rotate(0);
  animation: effect2 1s 1;
  animation-fill-mode: forwards;
  animation-delay: 5.5s;
}
.carousel .slide:nth-child(2) > div:nth-child(2) {
  background-position-x: -100px;
  background-position-Y: 0px;
  transform: translateX(-1600px) translateY(-1200px) rotate(0);
  animation: effect2 0.5s 1;
  animation-fill-mode: forwards;
  animation-delay: 5.8s;
}
.carousel .slide:nth-child(2) > div:nth-child(3) {
  background-position-x: -200px;
  background-position-Y: 0px;
  transform: translateX(-1600px) translateY(-1200px) rotate(0);
  animation: effect2 0.5s 1;
  animation-fill-mode: forwards;
  animation-delay: 5.9s;
}
.carousel .slide:nth-child(2) > div:nth-child(4) {
  background-position-x: -300px;
  background-position-Y: 0px;
  transform: translateX(-1600px) translateY(-1200px) rotate(0);
  animation: effect2 0.75s 1;
  animation-fill-mode: forwards;
  animation-delay: 6s;
}
.carousel .slide:nth-child(2) > div:nth-child(5) {
  background-position-x: -400px;
  background-position-Y: 0px;
  transform: translateX(-1600px) translateY(-1200px) rotate(0);
  animation: effect2 1.25s 1;
  animation-fill-mode: forwards;
  animation-delay: 5.7s;
}
.carousel .slide:nth-child(2) > div:nth-child(6) {
  background-position-x: -500px;
  background-position-Y: 0px;
  transform: translateX(-1600px) translateY(-1200px) rotate(0);
  animation: effect2 0.75s 1;
  animation-fill-mode: forwards;
  animation-delay: 5.6s;
}
.carousel .slide:nth-child(2) > div:nth-child(7) {
  background-position-x: -600px;
  background-position-Y: 0px;
  transform: translateX(-1600px) translateY(-1200px) rotate(0);
  animation: effect2 0.5s 1;
  animation-fill-mode: forwards;
  animation-delay: 5.3s;
}
.carousel .slide:nth-child(2) > div:nth-child(8) {
  background-position-x: -700px;
  background-position-Y: 0px;
  transform: translateX(-1600px) translateY(-1200px) rotate(0);
  animation: effect2 1.25s 1;
  animation-fill-mode: forwards;
  animation-delay: 6s;
}
.carousel .slide:nth-child(2) > div:nth-child(9) {
  background-position-x: 0px;
  background-position-Y: -100px;
  transform: translateX(-1600px) translateY(-1200px) rotate(0);
  animation: effect2 0.25s 1;
  animation-fill-mode: forwards;
  animation-delay: 5.9s;
}
.carousel .slide:nth-child(2) > div:nth-child(10) {
  background-position-x: -100px;
  background-position-Y: -100px;
  transform: translateX(-1600px) translateY(-1200px) rotate(0);
  animation: effect2 1s 1;
  animation-fill-mode: forwards;
  animation-delay: 5.7s;
}
.carousel .slide:nth-child(2) > div:nth-child(11) {
  background-position-x: -200px;
  background-position-Y: -100px;
  transform: translateX(-1600px) translateY(-1200px) rotate(0);
  animation: effect2 0.75s 1;
  animation-fill-mode: forwards;
  animation-delay: 5.3s;
}
.carousel .slide:nth-child(2) > div:nth-child(12) {
  background-position-x: -300px;
  background-position-Y: -100px;
  transform: translateX(-1600px) translateY(-1200px) rotate(0);
  animation: effect2 1.25s 1;
  animation-fill-mode: forwards;
  animation-delay: 5.2s;
}
.carousel .slide:nth-child(2) > div:nth-child(13) {
  background-position-x: -400px;
  background-position-Y: -100px;
  transform: translateX(-1600px) translateY(-1200px) rotate(0);
  animation: effect2 0.5s 1;
  animation-fill-mode: forwards;
  animation-delay: 5.4s;
}
.carousel .slide:nth-child(2) > div:nth-child(14) {
  background-position-x: -500px;
  background-position-Y: -100px;
  transform: translateX(-1600px) translateY(-1200px) rotate(0);
  animation: effect2 0.25s 1;
  animation-fill-mode: forwards;
  animation-delay: 5.6s;
}
.carousel .slide:nth-child(2) > div:nth-child(15) {
  background-position-x: -600px;
  background-position-Y: -100px;
  transform: translateX(-1600px) translateY(-1200px) rotate(0);
  animation: effect2 0.75s 1;
  animation-fill-mode: forwards;
  animation-delay: 6s;
}
.carousel .slide:nth-child(2) > div:nth-child(16) {
  background-position-x: -700px;
  background-position-Y: -100px;
  transform: translateX(-1600px) translateY(-1200px) rotate(0);
  animation: effect2 0.75s 1;
  animation-fill-mode: forwards;
  animation-delay: 5.4s;
}
.carousel .slide:nth-child(2) > div:nth-child(17) {
  background-position-x: 0px;
  background-position-Y: -200px;
  transform: translateX(-1600px) translateY(-1200px) rotate(0);
  animation: effect2 1s 1;
  animation-fill-mode: forwards;
  animation-delay: 5.2s;
}
.carousel .slide:nth-child(2) > div:nth-child(18) {
  background-position-x: -100px;
  background-position-Y: -200px;
  transform: translateX(-1600px) translateY(-1200px) rotate(0);
  animation: effect2 1s 1;
  animation-fill-mode: forwards;
  animation-delay: 5.7s;
}
.carousel .slide:nth-child(2) > div:nth-child(19) {
  background-position-x: -200px;
  background-position-Y: -200px;
  transform: translateX(-1600px) translateY(-1200px) rotate(0);
  animation: effect2 1.25s 1;
  animation-fill-mode: forwards;
  animation-delay: 5.7s;
}
.carousel .slide:nth-child(2) > div:nth-child(20) {
  background-position-x: -300px;
  background-position-Y: -200px;
  transform: translateX(-1600px) translateY(-1200px) rotate(0);
  animation: effect2 0.5s 1;
  animation-fill-mode: forwards;
  animation-delay: 5.5s;
}
.carousel .slide:nth-child(2) > div:nth-child(21) {
  background-position-x: -400px;
  background-position-Y: -200px;
  transform: translateX(-1600px) translateY(-1200px) rotate(0);
  animation: effect2 0.75s 1;
  animation-fill-mode: forwards;
  animation-delay: 5.9s;
}
.carousel .slide:nth-child(2) > div:nth-child(22) {
  background-position-x: -500px;
  background-position-Y: -200px;
  transform: translateX(-1600px) translateY(-1200px) rotate(0);
  animation: effect2 0.25s 1;
  animation-fill-mode: forwards;
  animation-delay: 5.1s;
}
.carousel .slide:nth-child(2) > div:nth-child(23) {
  background-position-x: -600px;
  background-position-Y: -200px;
  transform: translateX(-1600px) translateY(-1200px) rotate(0);
  animation: effect2 1s 1;
  animation-fill-mode: forwards;
  animation-delay: 5.6s;
}
.carousel .slide:nth-child(2) > div:nth-child(24) {
  background-position-x: -700px;
  background-position-Y: -200px;
  transform: translateX(-1600px) translateY(-1200px) rotate(0);
  animation: effect2 1s 1;
  animation-fill-mode: forwards;
  animation-delay: 5.8s;
}
.carousel .slide:nth-child(2) > div:nth-child(25) {
  background-position-x: 0px;
  background-position-Y: -300px;
  transform: translateX(-1600px) translateY(-1200px) rotate(0);
  animation: effect2 0.75s 1;
  animation-fill-mode: forwards;
  animation-delay: 5.6s;
}
.carousel .slide:nth-child(2) > div:nth-child(26) {
  background-position-x: -100px;
  background-position-Y: -300px;
  transform: translateX(-1600px) translateY(-1200px) rotate(0);
  animation: effect2 0.5s 1;
  animation-fill-mode: forwards;
  animation-delay: 5.2s;
}
.carousel .slide:nth-child(2) > div:nth-child(27) {
  background-position-x: -200px;
  background-position-Y: -300px;
  transform: translateX(-1600px) translateY(-1200px) rotate(0);
  animation: effect2 0.75s 1;
  animation-fill-mode: forwards;
  animation-delay: 5.4s;
}
.carousel .slide:nth-child(2) > div:nth-child(28) {
  background-position-x: -300px;
  background-position-Y: -300px;
  transform: translateX(-1600px) translateY(-1200px) rotate(0);
  animation: effect2 1.25s 1;
  animation-fill-mode: forwards;
  animation-delay: 5.8s;
}
.carousel .slide:nth-child(2) > div:nth-child(29) {
  background-position-x: -400px;
  background-position-Y: -300px;
  transform: translateX(-1600px) translateY(-1200px) rotate(0);
  animation: effect2 0.25s 1;
  animation-fill-mode: forwards;
  animation-delay: 5.9s;
}
.carousel .slide:nth-child(2) > div:nth-child(30) {
  background-position-x: -500px;
  background-position-Y: -300px;
  transform: translateX(-1600px) translateY(-1200px) rotate(0);
  animation: effect2 1s 1;
  animation-fill-mode: forwards;
  animation-delay: 5.8s;
}
.carousel .slide:nth-child(2) > div:nth-child(31) {
  background-position-x: -600px;
  background-position-Y: -300px;
  transform: translateX(-1600px) translateY(-1200px) rotate(0);
  animation: effect2 0.25s 1;
  animation-fill-mode: forwards;
  animation-delay: 5.9s;
}
.carousel .slide:nth-child(2) > div:nth-child(32) {
  background-position-x: -700px;
  background-position-Y: -300px;
  transform: translateX(-1600px) translateY(-1200px) rotate(0);
  animation: effect2 0.25s 1;
  animation-fill-mode: forwards;
  animation-delay: 6s;
}
.carousel .slide:nth-child(2) > div:nth-child(33) {
  background-position-x: 0px;
  background-position-Y: -400px;
  transform: translateX(-1600px) translateY(-1200px) rotate(0);
  animation: effect2 0.25s 1;
  animation-fill-mode: forwards;
  animation-delay: 6s;
}
.carousel .slide:nth-child(2) > div:nth-child(34) {
  background-position-x: -100px;
  background-position-Y: -400px;
  transform: translateX(-1600px) translateY(-1200px) rotate(0);
  animation: effect2 1s 1;
  animation-fill-mode: forwards;
  animation-delay: 6s;
}
.carousel .slide:nth-child(2) > div:nth-child(35) {
  background-position-x: -200px;
  background-position-Y: -400px;
  transform: translateX(-1600px) translateY(-1200px) rotate(0);
  animation: effect2 0.75s 1;
  animation-fill-mode: forwards;
  animation-delay: 5.5s;
}
.carousel .slide:nth-child(2) > div:nth-child(36) {
  background-position-x: -300px;
  background-position-Y: -400px;
  transform: translateX(-1600px) translateY(-1200px) rotate(0);
  animation: effect2 1.25s 1;
  animation-fill-mode: forwards;
  animation-delay: 5.3s;
}
.carousel .slide:nth-child(2) > div:nth-child(37) {
  background-position-x: -400px;
  background-position-Y: -400px;
  transform: translateX(-1600px) translateY(-1200px) rotate(0);
  animation: effect2 1.25s 1;
  animation-fill-mode: forwards;
  animation-delay: 5.4s;
}
.carousel .slide:nth-child(2) > div:nth-child(38) {
  background-position-x: -500px;
  background-position-Y: -400px;
  transform: translateX(-1600px) translateY(-1200px) rotate(0);
  animation: effect2 0.25s 1;
  animation-fill-mode: forwards;
  animation-delay: 5.8s;
}
.carousel .slide:nth-child(2) > div:nth-child(39) {
  background-position-x: -600px;
  background-position-Y: -400px;
  transform: translateX(-1600px) translateY(-1200px) rotate(0);
  animation: effect2 0.25s 1;
  animation-fill-mode: forwards;
  animation-delay: 5.7s;
}
.carousel .slide:nth-child(2) > div:nth-child(40) {
  background-position-x: -700px;
  background-position-Y: -400px;
  transform: translateX(-1600px) translateY(-1200px) rotate(0);
  animation: effect2 0.25s 1;
  animation-fill-mode: forwards;
  animation-delay: 5.1s;
}
.carousel .slide:nth-child(2) > div:nth-child(41) {
  background-position-x: 0px;
  background-position-Y: -500px;
  transform: translateX(-1600px) translateY(-1200px) rotate(0);
  animation: effect2 1s 1;
  animation-fill-mode: forwards;
  animation-delay: 5.2s;
}
.carousel .slide:nth-child(2) > div:nth-child(42) {
  background-position-x: -100px;
  background-position-Y: -500px;
  transform: translateX(-1600px) translateY(-1200px) rotate(0);
  animation: effect2 0.25s 1;
  animation-fill-mode: forwards;
  animation-delay: 5.1s;
}
.carousel .slide:nth-child(2) > div:nth-child(43) {
  background-position-x: -200px;
  background-position-Y: -500px;
  transform: translateX(-1600px) translateY(-1200px) rotate(0);
  animation: effect2 0.75s 1;
  animation-fill-mode: forwards;
  animation-delay: 5.6s;
}
.carousel .slide:nth-child(2) > div:nth-child(44) {
  background-position-x: -300px;
  background-position-Y: -500px;
  transform: translateX(-1600px) translateY(-1200px) rotate(0);
  animation: effect2 1s 1;
  animation-fill-mode: forwards;
  animation-delay: 5.7s;
}
.carousel .slide:nth-child(2) > div:nth-child(45) {
  background-position-x: -400px;
  background-position-Y: -500px;
  transform: translateX(-1600px) translateY(-1200px) rotate(0);
  animation: effect2 0.5s 1;
  animation-fill-mode: forwards;
  animation-delay: 5.3s;
}
.carousel .slide:nth-child(2) > div:nth-child(46) {
  background-position-x: -500px;
  background-position-Y: -500px;
  transform: translateX(-1600px) translateY(-1200px) rotate(0);
  animation: effect2 0.25s 1;
  animation-fill-mode: forwards;
  animation-delay: 5.3s;
}
.carousel .slide:nth-child(2) > div:nth-child(47) {
  background-position-x: -600px;
  background-position-Y: -500px;
  transform: translateX(-1600px) translateY(-1200px) rotate(0);
  animation: effect2 0.5s 1;
  animation-fill-mode: forwards;
  animation-delay: 5.6s;
}
.carousel .slide:nth-child(2) > div:nth-child(48) {
  background-position-x: -700px;
  background-position-Y: -500px;
  transform: translateX(-1600px) translateY(-1200px) rotate(0);
  animation: effect2 1s 1;
  animation-fill-mode: forwards;
  animation-delay: 5.9s;
}

@keyframes effect1 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes effect2 {
  from {
    transform: translateX(-1600px) translateY(-1200px) rotate(-1800deg);
  }
  to {
    transform: translateX(0) translateY(0) rotate(0);
  }
}/*# sourceMappingURL=style.css.map */