

body {
    font-family: Arial, Helvetica, sans-serif;
}
h1, h2, h3 {
    font-family: antonioregular;
}
figure {
    margin: 0;
}
.news {
    width: 80%;
    margin: 20% auto;
}
.news h2 {
    margin: 1em 0;
}


.news h3 {
    margin: 1,38em 0;

}
.news header {
    border-top: 2px solid #aaa;
    border-bottom: 2px solid #aaa;
    margin-bottom: 3%;
}
.news header h1 {
    font-size: 200%;
}
.news .articles {
    
    display: flex;
}
.news article {
    width: 25%;
    border-bottom: 2px solid gray;
    padding-bottom: 2%;

    position: relative;
}
.news article figure {
    /* border: 2px solid red; */
    height: 15em;
    overflow: hidden;
   
}
.news article a {
  position: absolute;
  bottom: 1%;
  right: 1%;
}

.news article:first-child {
    width: 50%;
    margin: 0 2%;
}
.news article:nth-child(2) {
    order: -1;
}
.news img {
   width: 100%; 
   height: 100%;
    object-fit: cover;
}

/* Md screen */
@media (max-width: 1200px) {
.news .articles {
    /* flex-direction: column; */
    flex-wrap: wrap;
    justify-content: space-between;
}}
.news .articles article {
    width: 100%;
}
.news article:nth-child(2) {
    order: 0;
}
.news article:first-child {
    margin: 0;
    /* columns: 2; */
}
.news .coloms {
    columns: 2;
}
.news article:nth-child(2),
.news article:nth-child(3) {
   width: 49%; 
}

/* SM Screen */
@media (max-width: 700px) {
    .news .articles {
        flex-direction: column;
        ;
    }
}
.news article:nth-child(2),
.news article:nth-child(3) {
    width: 100%;
}
.news .coloms {
    columns: 1;
}